@model FeitWorkshop.Models.Teacher

@{
    ViewData["Title"] = "Детали";
}

<h1>Предмети</h1>


<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Име</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var courses in Model.FirstTeacher)
        {
        <tr>
            <td> @courses.Title </td>
            <td style="text-align:right">
                <a asp-controller="Courses" asp-action="TeacherView" asp-route-id="@courses.Id">Детали</a>
            </td>
        </tr>
        }
        @foreach (var courses in Model.SecondTeacher)
        {
    <tr>
        <td> @courses.Title </td>
        <td style="text-align:right"> <a asp-controller="Courses" asp-action="TeacherView" asp-route-id="@courses.Id">Детали</a></td>

    </tr>
        }
    </tbody>
</table>
