@page
@model IndexModel
@{
    ViewData["Title"] = "Профил";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <br />
        @if (User.Identity.IsAuthenticated && User.IsInRole("Student")) 
        {
            <a asp-controller="Students" asp-action="StudentView" asp-route-id="1" class="btn btn-primary"> Види предмети </a>
        }
        @if (User.Identity.IsAuthenticated && User.IsInRole("Teacher"))
        {
            <a asp-controller="Teachers" asp-action="TeacherView" asp-route-id="1" class="btn btn-primary"> Види предмети </a>
         }
        <a asp-page="./ChangePassword" class="btn btn-outline-primary"> Промени лозинка </a>
    </div>
</div>
@if (User.Identity.IsAuthenticated && User.IsInRole("Teacher"))
{


}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}